.cabecalho{
    margin-top: 0px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

/* oferta estilização */

.bloco-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bloco-produtos{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.bloco-produtos > div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bloco-produtos > div > button{
    margin-top: 5px;
    margin: 5px;
    background-color: rgb(175, 173, 173);
    border-style: none;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}



.rodape{
    bottom: 0;
    position: absolute;
    margin: 0;
}

ul > li{
    text-align: center;
    list-style: none;
}

li{
    height: 100px;
    width: 300px;
    background-color: rgb(67, 71, 71);
    cursor: pointer;
    margin: 150px;
    display: inline;
    font-size: larger;
    color: rgb(0, 0, 0);
}
